@media (min-width: 768px) {
    .desktop {
        display: block; 
    }

    h1 {
        font-size: 5rem;
    }

    .preNavBar {
        display:flex;
        justify-content: flex-end;
        z-index: 999;
        margin: 0 auto;
        background-color: #3E3E3E;
        padding: 0 100px;
        position: absolute;
        width: calc(100% - 200px);
        column-gap: 10px;
        max-height: 20px;
    }
    
    .navBar {
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: calc(100% - 200px);
        position: fixed;
        z-index: 0;
        background-color: white;
        padding: 20px 100px 5px;
        overflow: hidden;
        box-shadow: 0 1px 7px #d3d3d3;
    }

    .main {
    max-width: 60%; 
    padding: 85px;
    height: calc(100vh - 170px);
    }

    @supports (display: grid) {
        .programCards {
            display: grid;
            grid-template-columns: 15% 15% 15% 15% 15%;
            grid-template-rows: 200px;
            column-gap: 3px;
        }
    }

    .card {
        margin: 0;
        flex-direction: column;
    }

    .card > * {
        margin: 0;
        max-height: 60%;
    }

    .partnersImg{
        flex-direction: row;
    }
    
    .partner img {
        max-width: 150px;
    }
}